

   <title>Login_AskSeries</title>
<style>
body{
background-color:black;
text-align:center;
color:white;
}
h1{
font-family:gigi;
color:white;
text-align:center;
}
h1:hover{
font-family:arial;
color:white;
text-align:center;
}
a{
color:red;
text-decoration:none;
text-align:center;
}
a:hover{
color:red;
background-color:white;
text-decoration:none;
text-align:center;
}
</style>
<h1><b>A</b>sk<b>S</b>eries</h1>
<h3>Please Enter Your Secret Pin No. Step: 3 OF 3</h3>
<pre>
<b>
    <form name="login">
    Pin  <input type="password" name="Pin"/>

     <input type="button" onclick="check(this.form)" value="Login"/>
       </form>
    <script language="javascript">
    function check(form)
    {
    
     if(form.Pin.value == "54902" )
      {
        window.open('SUF1.html')
      }
     else
     {
       window.open('S8.htm')
      }
    }
    </script>
    </body>
    </html>

