<title>AskVedant_AskSeries</title>
<link rel="stylesheet" type="text/css" href="https://dl.dropbox.com/s/6kdz3hvol8zzu9r/SystemFile5.css?dl=0">
<link rel="stylesheet" type="text/css" href="https://dl.dropbox.com/s/nagtd4fmcjisqlg/SystemFile4.css?dl=0">
<div><form method="post" action="mailto:sourjyabose@gmail.com">
<pre>
<h1>AskVedant</h1>
<b>Username:  <input type="text" size="60" name="PIN">

<b>Email: <input type="text" size="60" name="email">

<b>Title of Your Website:<input type="text" size="80" name="Web">

<b>Type of Website you Want:<input type="text" size="80" name="Type">

<b>Contents To Be Added:<input type="text" size="100" name="Content">

<b>No of Pages: <input type="text" size="2" name="Pages">

<b>Hosting from Dropbox: <input type="radio" name="Boolean">

<input type="submit" class="buttonorder" value="Create Website Within One Month">
</form>
</div>