<title>AskVedant_AskSeries</title>
<link rel="stylesheet" type="text/css" href="https://dl.dropbox.com/s/6kdz3hvol8zzu9r/SystemFile5.css?dl=0">
<link rel="stylesheet" type="text/css" href="https://dl.dropbox.com/s/nagtd4fmcjisqlg/SystemFile4.css?dl=0">
<div><form method="post" action="mailto:sourjyabose@gmail.com">
<pre>
<h1>AskVedant</h1>
<b>PIN:  <input type="password" size="60" name="Pin">

<b>Email: <input type="text" size="60" name="email">

<b>Type of Function Tempalates you Want:<input type="text" size="80" name="Func Tem type">

<b>Functions you Want:<input type="text" size="80" name="Func">



<input type="submit" class="buttonorder" value="Create Functions Tempalate Within 15 Days">
</div>
</form>