<title>AskVedant_AskSeries</title>
<link rel="stylesheet" type="text/css" href="https://dl.dropbox.com/s/6kdz3hvol8zzu9r/SystemFile5.css?dl=0">
<link rel="stylesheet" type="text/css" href="https://dl.dropbox.com/s/nagtd4fmcjisqlg/SystemFile4.css?dl=0">
<div><form method="post" action="mailto:sourjyabose@gmail.com">
<pre>
<h1>AskVedant</h1>
<b>PIN:  <input type="text" size="60" name="Pin">

<b>Email: <input type="text" size="60" name="Email">

<b>Type of Styling Tempalates you Want:<input type="text" size="80" name="Styling Temp Type">

<b>Stylings you Want:<input type="text" size="80" name="Sty">



<input type="submit" class="buttonorder" value="Create Styling Tempalate Within 15 Days">
</div>
</form>