<style>
h1 {
   text-align:center;
  color:white ;
font-family:gigi;
}
body {
  background-color:black;
color:white;
} 
div {
 background-color: white;
    width: 300px;
    border-radius:10px;
    padding: 1px;
    margin: 25px;
margin: auto;
    width: 80%;
border:blue;
color:black;
} 
div:hover {
 background-color: black;
    width: 300px;
    border-radius:10px;
    padding: 1px;
    margin: 25px;
margin: auto;
    width: 80%;
border:blue;
color:white;
} 
h2 {
   text-align:center;
color:red;
}
marquee {
background-color:red;
} 
input:hover {
border-color:red;
} 
</style>
<title>Oops</title>
<script>
alert("Oops Something Went Wrong ! Username Or Password Or Pin  is Wrong")
</script>
<h1>AskSeries<h1>
<h2>Username Or Password Or Pin is Wrong</h2>
