.buttonpreview {
  background-color: blue;   
    border-color:  #ff9800;
    border : 2px;
 color: white;
    padding: 1px 10px;
    text-align: center;
  font-size: 16x20;
    margin: 4px 2px;
}
.buttonpreview:hover {
background : navy;
}   
   
.buttonorder{
  background-color:green;   
    border-color:  green;
    border : 2px;
 color: white;
    padding: 1px 10px;
    text-align: center;
  font-size: 16x20;
    margin: 4px 2px;
}
.buttonorder:hover {
background : black;
}   